<!DOCTYPE html>
<html>
<head>
	<title>Stable Genius for TheDonald.win - Options</title>

	<link rel="stylesheet" href="../../css/angular/bootstrap.min.css" />
	<link rel="stylesheet" href="../../css/angular/whhg.css" />
	<link rel="stylesheet" href="../../css/angular/angular-material.min.css" />
	<link rel="stylesheet" href="../../css/custom.css" />

	<script src="../../js/angular/jquery2.2.2/jquery.min.js"></script>
	<script src="../../js/angular/jquery.validate.min.js"></script>
	<script src="../../js/angular/jquery.validate.unobtrusive.min.js"></script>
	<script src="../../js/angular/jquery.unobtrusive-ajax.min.js"></script>
	<script src="../../js/angular/angular.min.js"></script>
	<script src="../../js/angular/angular-messages.min.js"></script>
	<script src="../../js/angular/angular-animate.js"></script>
	<script src="../../js/angular/angular-sanitize.js"></script>
	<script src="../../js/angular/angular-resource.min.js"></script>
	<script src="../../js/angular/angular-aria.min.js"></script>
	<script src="../../js/angular/angular-material.min.js"></script>

	<script src="../../js/angular/bootstrap.min.js"></script>
	<script src="../../js/angular/ui-bootstrap-tpls-2.5.0.js"></script>
	<script src="../../js/angular/JSLINQ.js"></script>

	<script src="../inject/app_helpers.js?v=0.0.1"></script>

	<!-- Chrome extensions no longer allow 'unsafe-inline', see: https://stackoverflow.com/a/11672134 -->
	<script src="sg_options_ang.js?v=0.0.1"></script>

	<script src="../../js/StableGenius/Services/Common/alertService.js?v=0.0.1"></script>
	<script src="../../js/StableGenius/Services/Common/httpService.js?v=0.0.1"></script>

	<script src="../../js/StableGenius/Directives/Common/AlertNotifier.js?v=0.0.1"></script>

	<script src="sg_option_app.js?v=0.0.1"></script>
</head>		
	<body text="black" bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0">
		<div ng-app="app" ng-strict-di>
			<div ng-controller="OptionsPageController">
				<div class="options_main_box">
					<div class="row form-group">
						<div class="col-xs-12">
							<div class="title_box">
								<img src="../../icons/icon_128.png" class="logo_image" />
								<h2>Stable Genius for TheDonald.win - Options</h2>
							</div>
						</div>
					</div>
					<hr style="width: 50%" />
					<div class="row form-group">
						<div class="col-xs-2 text-right">
							<div class="section_title">
								Clear all data
							</div>
						</div>
						<div class="col-xs-10">
							<input type="button" value="Clear Data" ng-click="clearData()" />
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-2 text-right">
							<div class="section_title">
								<div>
									User manager
								</div>
								<div class="icon-whhg-refresh action_button" title="Refresh users list" ng-click="getUsers()">
								</div>
							</div>
						</div>
						<div class="col-xs-10">
                            <div class="user_manager_box">
                                <div style="display: table; margin: 0 auto; font-size: 26px; color: #CCC;" ng-if="gettingUsers == true && usersList === null && usersList !== undefined">
                                    <img src="/icons/loader.gif" style="height: 32px; width: 32px;" />
                                    Loading
                                </div>
                                <div class="animate-switch-container" ng-switch on="getObjectPropertiesCount(usersList)">
                                    <div class="animate-switch" ng-switch-when="-2">
                                        <div class="no_users_found_box">No users data found, created a new initialization. <div class="btn btn-success" ng-click="getUsers()">Click here</div> to refresh this list.</div>
                                    </div>
                                    <div class="animate-switch" ng-switch-when="-1|0" ng-switch-when-separator="|">
                                        No users found
                                    </div>
                                    <div class="animate-switch" ng-switch-default>
										<div class="row form-group">
											<div class="col-xs-1">
												Actions
											</div>
											<div class="col-xs-1 text-center">
												Upvotes
											</div>
											<div class="col-xs-1 text-center">
												Downvotes
											</div>
											<div class="col-xs-9">
												Username
											</div>
										</div>
                                        <div ng-else ng-repeat="(userName, userSettings) in usersList">
											<div class="row form-group">
												<div class="col-xs-1">
													<div class="action_buttons_row">
														<div class="icon-whhg-squarex delete_button" ng-click="deleteUser(userName)" title="Delete user information"></div>
														<div class="icon-whhg-square0" title="Clear vote count"></div>
													</div>
												</div>
												<div class="col-xs-1">
													<div style="display: flex; flex-direction: row; justify-content: space-around">
														<div ng-if="userSettings.voteValueUp || userSettings.voteValueUp === 0" title="Upvote vote count">
															[{{userSettings.voteValueUp}}]
														</div>
														<div ng-if="!userSettings.voteValueUp && userSettings.voteValueUp !== 0" title="Upvote vote count">
															[0]
														</div>
													</div>
												</div>
												<div class="col-xs-1">
													<div style="display: flex; flex-direction: row; justify-content: space-around">
														<div ng-if="userSettings.voteValueDn || userSettings.voteValueDn === 0" title="Downvote vote count">
															[{{userSettings.voteValueDn}}]
														</div>
														<div ng-if="!userSettings.voteValueDn && userSettings.voteValueDn !== 0" title="Downvote vote count">
															[0]
														</div>
													</div>
												</div>
												<div class="col-xs-9">
													<div style="display: flex; flex-direction: row">
														<div style="margin-right: 8px">
															{{userName}}
														</div>

														<div ng-repeat="(prop, propValue) in value">
															<div ng-if="prop != 'voteValue'">
																{{propValue}}
															</div>
														</div>

														<div ng-hide="value.hasOwnProperty('authorTag')">
															<div class="icon-whhg-keyboarddelete sg_author_tag" title="Change user tag"></div>
														</div>
													</div>
												</div>
											</div>
                                        </div>
                                    </div>
                                </div>
                                <!--
								<div style="margin-top: 32px">
									users list: [{{(usersList === null ? "null" : (usersList === undefined) ? "undefined" : "got'em")}}] => {{usersList}}<br />
									properties count: {{getObjectPropertiesCount(usersList)}}
								</div>
								-->
							</div>
						</div>
					</div>
				</div>

				<div>
					Email me: <a href="mailto:FragrantDude2020@gmail.com?subject=StableGeniusChromeExtension v0.0.1 inquiry">FragrantDude2020@gmail.com</a>
				</div>

				<alert-notifier></alert-notifier>
			</div>
		</div>
	</body>
</html>